@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Damion&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Font-Family */
    --font-libre:"David Libre", sans-serif;
    --font-inter:"inter", sans-serif;

    /* Font-Sizes */
    --font-heading-one:70px;
    --font-text-base: 16px;

    /* Font-Weights */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* colors */
    --color-primary: #101A24;
    --Hero-page-backgroundcolor1: #fff;
    --Hero-page-backgroundcolor2: #f3f4f4;

    /* buttons color, padding and radius */
    --button-background-orange: #EA6D27;
    --button-background-darkblue: #101A24;
    --padding-sm: 15px 24px;
    --padding-md: 18px 32px;
    --padding-md-two: 16px 32px;
    --border-radius-sm: 10px;
    --border-radius-md: 15px;
    --border-radius-lg:32px;
    
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-inter);
}

.ic--outline-close {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

main{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    /* height: 45.50rem; */
    display: flex;
    overflow-x: hidden;


    .section-1{
        width: 100%;
        max-width: 100px;
        height: 100%;
        border-right: 2px solid rgb(181, 180, 180);


        #picture-1{
                width: 50px;
                height: 50px;
                margin: 20px 0 0 28px;
            }


        nav{
            display: grid;
            justify-items: center;
            gap: 45px;

            #picture{
                width: 26px;
                height: 26px;
                transition: all 0.20 linear;
            }

            #picture:hover{
                transform: scale(1.50,1.50);
            }
             a:visited{
                color: var(--button-background-orange);
            }
            a.active{
                transform: scale(1.50,1.50);
            }
        }
    }

    .section-2{
        flex: 1;
        display: flex;
        flex-direction: column;
        .up{
            width: 100%;
            height: 55%;
            h3{
                font-size: 35px;
                margin: 10px 0 0 50px;
                font-weight: var(--font-weight-bold);
            }
            .contain{
                display: grid;
                grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
                gap: 20px; /* spacing between fields */
                padding: 20px;
                width: 100%;
                /* height: ; */
                /* margin: auto; */
            }
            .div1{
                display: flex;
                flex-direction: column;
            }
            label{
                margin-bottom: 6px;
                font-weight: var(--font-weight-bold);
                font-size: 19px;

            }
            input{
                width: 450px;
                height: 46px;
                padding: 0 0 0 11px;
                font-size: 17px;
                font-weight: var(--font-weight-bold);
                border-radius: 10px;
                border: 1px solid #ccc;

            }
            #lel{
                margin-left: 15px;
            }
            textarea{
                width: 98%;
                height: 96px;
                margin: auto;
                padding: 0 0 0 11px;
                font-size: 17px;
                font-weight: var(--font-weight-bold);
                border-radius: 10px;
                border: 1px solid #ccc;

            }
            
        }
        .down{
            width: 100%;
            height: 45%;
            display: flex;
            .right::-webkit-scrollbar{
                width: 0;
            }
            .right{
                flex: 2;
                overflow: scroll;
                .item{
                    width: 94%;
                    display: grid;
                    grid-template-columns: 85px 280px 170px 170px 1fr;
                    gap: 10px;
                    border: 2px solid #ccc;
                    place-items: center;
                    margin: 2% 0 0 1%;
                    padding: 10px;
                    border-radius: 10px;
                    .name p{
                        font-weight: var(--font-weight-bold);
                        font-size: 20px;
    
                    }
                    .price p{
                        font-weight: var(--font-weight-bold);
                        color: orange;
                        font-size: 17px;
    
                    }
                    .quantity p{
                        font-weight: var(--font-weight-bold);
                        font-size: 16px;
    
                    }
                    .remove span{
                        width: 35px;
                        height: 35px;
                    }
                    img{
                        width: 100%;
                        height: 75px;
                        border-radius: 10px;
                    }
                }
                 .image-page{
                            width: 100px;
                            height: 80px;
                            border: 3px  solid orange;
                            border-radius: 10px;
                            margin-left: 1rem;
                        }
                
            }
            .left{
                flex: 1;
                .payment{
                    width: 95%;
                    height: 99%;
                    border: 2px solid #ccc;
                    padding: 20px;
                    border-radius: 10px;
                    .total-price{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 20px;
                        padding: 10px;
                        font-weight: var(--font-weight-bold);
                    }
                    .total-quantity{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 20px;
                        padding: 10px;
                        margin-bottom: 10px;
                        font-weight: var(--font-weight-bold);

                    }
                .btn-button{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 30%;
                    .btn-2{
                        margin: auto;
                        border: 0;
                        background: 0;
                        width: 150px;
                        height: 40px;
                        background-color: var(--color-primary);
                        border-radius: 5px;
                        color: white;
                        font-size: 15px;
                        font-weight: var(--font-weight-bold);
                        a{
                            text-decoration: none;
                            color: white;
                        }
                    }
                    .btn-2:hover{
                        transform: scale(1.1,1.1);
                    }
                }    
                }
                .btn-1{
                    margin: auto;
                    border: 0;
                    background: 0;
                    width: 100px;
                    height: 40px;
                    background-color: var(--button-background-orange);
                    border-radius: 5px;
                    color: white;
                    font-size: 15px;
                    font-weight: var(--font-weight-bold);
                    cursor: pointer;
                }
                .btn-1:hover{
                    transform: scale(1.1,1.1);
                }
                .receipt{
                    width: 100%;
                    max-width: 500px;
                    min-height: 670px;
                    background-color: white;
                    /* background-color: rgb(178, 176, 176); */
                   /*  position: absolute;
                    top: 20px;
                    left: 38%; */
                    h1{
                        margin: 20px 0 10px 30px;
                        font-size: 26px;
                        font-weight: var(--font-weight-bold);
                    }
                }
                .term{
                    width: 100%;
                    height: 350px;
                    overflow: scroll;
                }
                .term::-webkit-scrollbar{
                    width: 0;
                } 
                .customer-name{
                    display: flex;
                    justify-content: space-between;
                    padding: 20px 30px 0 30px;
                    h2{
                        font-size: 23px;
    
                        font-weight: var(--font-weight-bold);

                    }
                    p{
                        font-size: 15px;
    
                        font-weight: var(--font-weight-bold);

                    }
                }
                .id{
                    display: flex;
                    justify-content: space-between;
                    padding: 20px 30px 0 30px;
                    h2{
                        font-size: 23px;
    
                        font-weight: var(--font-weight-bold);

                    }
                    p{
                        font-size: 15px;
    
                        font-weight: var(--font-weight-bold);

                    }
                }
                .date{
                    display: flex;
                    justify-content: space-between;
                    padding: 20px 30px 0 30px;
                    h2{
                        font-size: 23px;
    
                        font-weight: var(--font-weight-bold);

                    }
                    p{
                        font-size: 15px;
    
                        font-weight: var(--font-weight-bold);

                    }
                }
                .item1{
                    display: grid;
                    grid-template-columns: 120px 10px 10px;
                    justify-content: space-between;
                    gap: 10px;
                    padding: 20px 59px 0 25px;
                    border: 2px solid rgb(198, 194, 194);
                    margin: 5px;
                    border-radius: 10px;
                    h2{
                        font-size: 19px;
    
                        font-weight: var(--font-weight-bold);

                    }
                    p{
                        font-size: 15px;
    
                        font-weight: var(--font-weight-bold);

                    }
                }
                .last-total{
                    display: flex;
                    justify-content: space-between;
                    padding: 20px 30px 0 30px;
                    h2{
                        font-size: 23px;
    
                        font-weight: var(--font-weight-bold);

                    }
                    p{
                        font-size: 15px;
    
                        font-weight: var(--font-weight-bold);

                    }
                }
                button{
                    margin: auto;
                        border: 0;
                        background: 0;
                        width: 150px;
                        height: 40px;
                        background-color: var(--button-background-orange);
                        border-radius: 5px;
                        color: white;
                        font-size: 15px;
                        margin: 20px 0 0 35%;
                        font-weight: bold;
                        a{
                            text-decoration: none;
                            color: white;
                        }
                }
                button:hover{
                    transform: scale(1.1,1.1);
                }

            }
        }

        
    } 
}
.overlay {
  display: none;  
  place-content: cen;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(128, 128, 128, 0.7); /* semi-transparent gray */
  /* z-index: 999; */
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.overlay.showme{
    display: flex;
    opacity: 1;
}
.message{
    position: fixed;
    background-color: var(--button-background-orange);
    padding: 15px;
    top: 3%;
    width: 30%;
    left: 60%;
    text-align: center;
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    color: white;
    border-radius: var(--border-radius-md);
    transition: all 0.5s linear;
    transform: translateX(530px);
    opacity: 0;
}
.message.showmessage{
    transform: translateX(0px);
    opacity: 1;
}



.icon-place{
    display: none;
}
.head{
    display: none;
}

@media screen and (max-width: 1366px) {
    main{
       width: 100%;
        max-width: 1500px;
        height: 45rem;
        display: flex;
        overflow: scroll;
        .section-1{
               width: 70px;
               height: 100%;
               flex-grow: 0;
               border-right: 2px solid rgb(181, 180, 180);
               #picture-1{
                    width: 50px;
                    height: 50px;
                    margin: 20px 0 0 5px;
                }
                nav{
                    display: grid;
                    justify-items: center;
                    gap: 45px;
                    #picture{
                        width: 26px;
                        height: 26px;
                        transition: all 0.20 linear;
                    }
                    #picture:hover{
                        transform: scale(1.50,1.50);
                    }
                    #picture:active{
                        transform: scale(1.50,1.50);
                    }
                }
        }
        .section-2{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            .up{
                width: 100%;
                height: 65%;
                display: flex;
                flex-direction: column;
                h1{
                    font-size: 35px;
                    margin: 10px 0 0 50px;

                    font-weight: var(--font-weight-medium);
                }
                .contain{
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr); 
                    gap: 20px; 
                    padding: 8px;
                }
                .div1{
                    display: flex;
                    flex-direction: column;
                }
                label{
                    margin-bottom: 6px;
                    font-weight: var(--font-weight-medium);

                    font-size: 20px;

                }
                input{
                    width: 100%;
                    height: 46px;
                    padding: 0 0 0 8px;
                    font-size: 17px;
                    border-radius: 10px;
                    border: 1px solid #ccc;
                }
                #lel{
                    margin-left: 15px;
                }
                textarea{
                    width: 98%;
                    height: 96px;
                    margin: auto;
                    padding: 0 0 0 11px;
                    font-size: 17px;
                    border-radius: 10px;
                    border: 1px solid #ccc;

                }
            
            }
            .down{
                width: 100%;
                height: 35%;
                position: relative;
                display: flex;
                .right::-webkit-scrollbar{
                    width: 0;
                }
                .right{
                    flex: 2;
                    overflow: scroll;
                    display: block;
                    .item{
                        width: 95%;
                        display: grid;
                        grid-template-columns: 20% 20% 20% 20% 10%;
                        gap: 10px;
                        border: 2px solid #ccc;
                        place-items: center;
                        margin: 2% 0 0 1%;
                        padding: 10px;
                        border-radius: 10px;
                        .name p{
                            font-weight: var(--font-weight-medium);
                            font-size: 20px;
        
                        }
                        .price p{
                            font-weight: var(--font-weight-medium);
                            color: var(--button-background-orange);
                            font-size: 17px;
        
                        }
                        .quantity p{
                            font-weight: var(--font-weight-medium);
                            font-size: 16px;
        
                        }
                        .remove span{
                            width: 35px;
                            height: 35px;
                        }
                       
                        img{
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
                
                }
                .left{
                    flex: 1;
                    margin-top: 10px;
                    .payment{
                        width: 95%;
                        height: 99%;
                        border: 2px solid #ccc;
                        padding: 20px;
                        border-radius: 10px;
                        .total-price{
                            display: flex;
                            justify-content: space-between;
                            margin-top: 20px;
                            padding: 10px;
                        }
                        .total-quantity{
                            display: flex;
                            justify-content: space-between;
                            margin-top: 20px;
                            padding: 10px;
                            margin-bottom: 10px;
                        }
                        .btn-button{
                            display: flex;
                            justify-content: space-between;
                            margin-top: 19%;
                            gap: 7%;
                            .btn-2{
                                padding: 10px;
                                margin: auto;
                                border: 0;
                                background: 0;
                                width: 100%;
                                height: 40px;
                                background-color: var(--color-primary);
                                border-radius: 5px;
                                color: white;
                                font-size: 15px;
                                font-weight: var(--font-weight-medium);
            
                                a{
                                    text-decoration: none;
                                    color: white;
                                }
                            }
                            .btn-2:hover{
                                transform: scale(1.1,1.1);
                            }
                        }    
                    }
                    .btn-1{
                        margin: auto;
                        border: 0;
                        padding: 10px;
                        background: 0;
                        width: 90%;
                        height: 40px;
                        background-color: var(--button-background-orange);
                        border-radius: 5px;
                        color: white;
                        font-size: 15px;
                        font-weight: var(--font-weight-medium);
    
                        cursor: pointer;
                    }
                    .btn-1:hover{
                        transform: scale(1.1,1.1);
                    }
                    .receipt{
                        max-width: 360px;
                        min-height: 700px;
                        min-height: 570px;
                        padding: 0 0 20px 0;
                        /* width: 18rem;
                        height: 90%; 
                        background-color: white;
                        position: absolute;
                        top: 7%;
                        left:  40%;*/
                        h1{
                            margin: 20px 0 10px 30px;
                            font-size: 26px;
        
                            font-weight: var(--font-weight-medium);
                        }
                        .term{
                            width: 100%;
                            height: 350px;
                            overflow: scroll;
                        }
                        .term::-webkit-scrollbar{
                            width: 0;
                        }
                    }
                    .customer-name{
                        display: flex;
                        justify-content: space-between;
                        padding: 20px 30px 0 30px;
                        h2{
                            font-size: 19px;
        
                            font-weight: var(--font-weight-medium);
                        }
                        p{
                            font-size: 15px;
        
                            font-weight: var(--font-weight-medium);
                        }
                    }
                    .id{
                        display: flex;
                        justify-content: space-between;
                        padding: 20px 30px 0 30px;
                        h2{
                            font-size: 23px;
        
                            font-weight: var(--font-weight-medium);
                        }
                        p{
                            font-size: 15px;
        
                            font-weight:  var(--font-weight-medium);
                        }
                    }
                    .date{
                        display: flex;
                        justify-content: space-between;
                        padding: 20px 30px 0 30px;
                        h2{
                            font-size: 23px;
        
                            font-weight:  var(--font-weight-medium);
                        }
                        p{
                            font-size: 15px;
        
                            font-weight: var(--font-weight-medium);
                        }
                    }
                    .item1{
                        display: grid;
                        grid-template-columns: 120px 10px 10px;
                        justify-content: space-between;
                        gap: 10px;
                        padding: 20px 59px 0 25px;
                        border: 2px solid rgb(198, 194, 194);
                        margin: 5px;
                        border-radius: 10px;
                        h2{
                            font-size: 23px;
        
                            font-weight: var(--font-weight-medium);
                        }
                        p{
                            font-size: 15px;
        
                            font-weight: var(--font-weight-medium);

                        }
                    }
                    .last-total{
                        display: flex;
                        justify-content: space-between;
                        padding: 20px 30px 0 30px;
                        h2{
                            font-size: 23px;
        
                            font-weight: var(--font-weight-medium);

                        }
                        p{
                            font-size: 15px;
        
                            font-weight: var(--font-weight-medium);

                        }
                    }
                    button{
                        margin: auto;
                        border: 0;
                        background: 0;
                        width: 150px;
                        height: 40px;
                        background-color: var(--button-background-orange);
                        border-radius: 5px;
                        color: white;
                        font-size: 15px;
                        margin: 0 0 0 28%;
                        font-weight: var(--font-weight-medium);
    
                        a{
                            text-decoration: none;
                            color: white;
                        }
                    }

                
            }    
        } 
    }
} 

@media  screen and (max-width: 490px) and (max-height: 932px){
    main{
        width: 100%;
        height: 82rem;
        display: flex;
        flex-direction: column;
        .section-1{
            display: none;
        }
        .section-2{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            .up{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                .contain{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    input{
                        width: 100%;
                        height: 2.50rem;
                    }
                }
            }
            .down{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                .right{
                    overflow: scroll;
                    height: 20%;
                }
                .right::-webkit-scrollbar{
                    width: 2px;
                    background-color: orange;
                }
                .right .item{
                    width: 98%;
                    display: grid;
                    grid-template-columns: 20% 20% 20% 20% 20%;
                    gap: 6px;
                    border: 2px solid #ccc;
                    place-items: center;
                }
            }
            .left{
                margin: auto;
                width: 98%;
            }
            .btn-button{
                display: flex;
                gap: 7%;
            }
        }
    }
    .overlay {
        display: none;  
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background-color: rgba(128, 128, 128, 0.7); semi-transparent gray */
        /* z-index: 999; */
        justify-content: center;
        align-items: center;
  
    }
    .head{
                    width: 100%;
                    height: 50px;
                    background-color: white;
                    position: fixed;
                    font-size: 20px;
                    padding: 20px 20px 0 30px;
                    font-weight: var(--font-text-base);

                    display: flex;
                    justify-content: space-between;
                    z-index: 1000;
                    .material-symbols-light--menu-rounded {
                              display: inline-block;
                              width: 24px;
                              height: 24px;
                              --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4.5 17.27q-.213 0-.356-.145T4 16.768t.144-.356t.356-.143h15q.213 0 .356.144q.144.144.144.357t-.144.356t-.356.143zm0-4.77q-.213 0-.356-.144T4 11.999t.144-.356t.356-.143h15q.213 0 .356.144t.144.357t-.144.356t-.356.143zm0-4.77q-.213 0-.356-.143Q4 7.443 4 7.23t.144-.356t.356-.143h15q.213 0 .356.144T20 7.23t-.144.356t-.356.144z'/%3E%3C/svg%3E");
                              background-color: currentColor;
                              -webkit-mask-image: var(--svg);
                              mask-image: var(--svg);
                             -webkit-mask-repeat: no-repeat;
                             mask-repeat: no-repeat;
                             -webkit-mask-size: 100% 100%;
                             mask-size: 100% 100%;
                             cursor: pointer;
                    }
                    .material-symbols-light--menu-rounded{
                        width: 30px;
                        height: 30px;
                        color: var(--button-background-orange);
                    }
                }
                .icon-place{
                    display: block;
                    width: 100%;
                    height: 4rem;
                    position: fixed;
                    top: 0%;
                    transform: translateY(-400px);
                    transition: all 0.4s ease-in-out;
                    nav{
                        width: 100%;
                        height: 6.50rem;
                        display: grid;
                        grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 1fr;
                        padding: 15px;
                        align-content: end;
                        background-color: rgb(226, 227, 228);
                        z-index: 1000;
                        img{
                            transform: scale(1.20,1.20);
                        }
                    }
                    img:hover{
                        transform: scale(1.40,1.40);
                    }
                } 
                .icon-place.arrange{
                        transform: translateY(0px);
                } 

}
}